{% extends 'robox/base_generic.html' %}

{% block title %}Index{% endblock %}
{% block heading %}Latest {{ files.count }} files:{% endblock %}
{% block links %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "robox/web/css/index.css" %}"/>
{% endblock %}
{% block content %}
    <table>
        <tr>
            <th>Barcode</th>
            <th>Filename</th>
            {% load tz %}
            {% get_current_timezone as TIME_ZONE %}
            <th>Upload time ({{ TIME_ZONE }})</th>
            <th colspan="2"></th>
        </tr>
        {% for file in files|dictsortreversed:"upload_time" %}
            <tr>
                <td>{{ file.barcode }}</td>
                <td>{{ file.binary_file.name }}</td>
                <td>{{ file.upload_time }}</td>
                <td><input type="button" onclick="location.href='{% url "view" file.barcode %}'" value="Show"/></td>
                <td>
                    <form action="{% url 'delete_file' file.pk %}" method="post">
                    {%  csrf_token %}
                    <input type="submit" value="Delete" />
                </form></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}