{% extends 'robox/base_generic.html' %}

{% block title %}Index{% endblock %}
{% block links %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "robox/web/css/index.css" %}"/>
{% endblock %}
{% block content %}
    <h3>Latest {{ files.count }} files:</h3>
    <div class="row container files">
        <div class="row">
            <h4 class="col-xs-2">Barcode</h4>
            <h4 class="col-xs-6">Filename</h4>
            {% load tz %}
            {% get_current_timezone as TIME_ZONE %}
            <h4 class="col-xs-2">Upload time ({{ TIME_ZONE }})</h4>
        </div>
        {% for file in files|dictsortreversed:"upload_time" %}
            <div class="row">
                <div class="col-xs-2">{{ file.barcode }}</div>
                <div class="col-xs-6">{{ file.binary_file.name }}</div>
                <div class="col-xs-2">{{ file.upload_time|date:'Y-m-d H:i:s' }}</div>
                <div class="col-xs-1"><a href="{% url "view" file.barcode %}" class="btn btn-default btn-xs">Show</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
