{% extends 'robox/base_generic.html' %}

{% block title %}Upload{% endblock %}
{% block links %}
    {% load staticfiles %}
    <script src="{% static "robox/web/js/upload.js" %}"></script>
{% endblock %}
{% block content %}
    <h3>Upload:</h3>
    <form action="{% url "upload" %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            {{ form.barcode.errors }}
            {{ form.barcode.label }}: {{ form.barcode }}
        </div>
        <div>
            {{ form.file.errors }}
            <label>
                <span>Files:</span>
                <input id="id_file" name="file" type="file" multiple>
            </label>
        </div>
        <div>
            <input type="submit" value="Submit" class="btn btn-default btn-sm"/>
            <a href="{% url "index" %}" class="btn btn-default btn-sm">back</a>
        </div>
    </form>
{% endblock %}