{% extends 'robox/base_generic.html' %}

{% block title %}Upload{% endblock %}
{% block links %}
    {% load staticfiles %}
    <script src="{% static "robox/web/js/upload.js" %}"></script>
{% endblock %}
{% block content %}
    <h3>Upload:</h3>
    <form class="form-horizontal" action="{% url "upload" %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.barcode.errors }}
        <div class="form-group">
            <label class="col-sm-1 control-label" for="id_barcode">Barcode</label>
            <div class="col-sm-3">
                <input id="id_barcode" name="barcode" class="form-control" placeholder="Barcode"
                       value="{% if form.barcode.value %}{{ form.barcode.value }}{% endif %}">
            </div>
        </div>
        {{ form.file.errors }}
        <div class="form-group">
            <label class="col-sm-1 control-label" for="id_file">Files</label>
            <div class="col-sm-3">
                <input id="id_file" name="file" type="file" multiple>
            </div>
        </div>
        <div class="col-sm-1"></div>
        <div>
            <input type="submit" value="Submit" class="btn btn-primary"/>
            <a href="{% url "index" %}" class="btn btn-default">Back</a>
        </div>
    </form>
{% endblock %}