{% extends 'robox/base_generic.html' %}

{% block title %}Upload{% endblock %}
{% block heading %}Upload:{% endblock %}
{% block links %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "robox/web/css/upload.css" %}"/>
    <script src="{% static "robox/web/js/upload.js" %}"></script>
{% endblock %}
{% block content %}
    <form action="{% url "upload" %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            {{ form.barcode.errors }}
            {{ form.barcode.label }}: {{ form.barcode }}
        </div>
        <div>
            {{ form.file.errors }}
            <label for="id_file">Files:</label>
            <input id="id_file" name="file" type="file" multiple>
        </div>
        <input type="submit" value="submit" />
    </form>
    <input type="button" onclick="location.href='{% url "index" %}'" value="back"/>
{% endblock %}