{% extends 'robox/base_generic.html' %}

{% block title %}Viewing: {{ barcode }}{% endblock %}
{% block links %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "robox/web/css/view.css" %}"/>
    <script src="{% static "robox/web/js/view.js" %}"></script>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-8">
            <h3>Viewing: {{ barcode }}</h3>
        </div>
    </div>

    {% if not invalid %}
        <div class="upload col-sm-4 pull-right">
            <h4>Upload:</h4>
            <form class="form-horizontal" action="{% url "upload" %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label class="col-sm-3 control-label">Barcode</label>
                    <div class="col-sm-9">
                        <input id="id_barcode" name="barcode" class="form-control" readonly value="{{ barcode }}">
                    </div>
                </div>
                {{ form.file.errors }}
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="id_file">Files</label>
                    <div class="col-sm-2">
                        <input id="id_file" name="file" type="file" multiple>
                    </div>
                </div>
                <div class="col-sm-3"></div>
                <div>
                    <input type="submit" value="Submit" class="btn btn-primary"/>
                </div>
            </form>
        </div>
    {% endif %}

    {% if invalid %}
        <h3>Invalid barcode</h3>
    {% else %}
        {% if files|length_is:'0' %}
            <h3>No files found.</h3>
        {% else %}
            {% for file in files|dictsortreversed:"upload_time" %}
                <div class="file {% if file.recent %}recent{% endif %}">
                    <div class="file-header ">
                        <h4 class="file-name">File: <a
                                href="{% url 'download' file.binary_file.pk %}">{{ file.binary_file.name }}</a>
                        </h4>
                        <h5>Format: {% if file.format != "None" %}{{ file.format }}{% else %}
                            <span class="text-danger">Unrecognised</span>{% endif %}</h5>
                        <h5>Uploaded at: {{ file.upload_time|date:'Y-m-d H:i:s' }}</h5>
                    </div>
                    <input class="toggle-content" id="file{{ file.id }}" type="checkbox">
                    <label for="file{{ file.id }}">
                        <span>&#9654; Expand</span>
                        <span>&#9660; Collapse</span>
                    </label>
                    <table class="file-content">
                        <tr>
                            {% for heading in file.headings %}
                                <th>{{ heading }}</th>
                            {% endfor %}
                        </tr>
                        {% for data in file.content %}
                            <tr>
                                {% for dataum in data %}
                                    <td>{{ dataum }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endfor %}
        {% endif %}
    {% endif %}
{% endblock %}