<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    {%  load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "robox/css/base.css" %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    {% block links %}{% endblock %}
</head>
<body>
<div class="nav-bar">
    <form id="search-box" action="{% url 'search' %}">
        <input type="text" name="barcode" placeholder="Barcode...">
        <button type="submit">Search</button>
    </form>
    <h1>Robox</h1>
    <a href="{% url 'index' %}">Index</a>
    <a href="{% url 'upload' %}">Upload</a>
</div>
<div class="heading">
    <h2>{% block heading %}{% endblock %}</h2>
</div>
<div class="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>