{% extends 'robox/base_generic.html' %}

{% block title %}Index{% endblock %}
{% block heading %}Index:{% endblock %}
{% block links %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "robox/index.css" %}" />
{% endblock %}
{% block content %}
    <table>
        <tr>
            <th>Barcode</th>
            <th>Filename</th>
            <th colspan="2"></th>
        </tr>
        {% for file in files %}
            <tr>
                <td>{{ file.barcode }}</td>
                <td>{{ file.file }}</td>
                <td><form action="{% url 'view' file.barcode %}" method="get">
                    <input type="submit" value="Show" />
                </form></td>
                <td><form action="{% url 'delete_file' file.pk %}" method="post">
                    {%  csrf_token %}
                    <input type="submit" value="Delete" />
                </form></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}