<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>Uploaded Files:</h1>
<a href="{% url 'upload' %}">Upload</a>
<table>
    <tr>
        <th>Barcode</th>
        <th>Filename</th>
        <th colspan="2"></th>
    </tr>
    {% for file in files %}
        <tr>
            <td>{{ file.barcode }}</td>
            <td>{{ file.file }}</td>
            <td><a href="{% url 'view' file.barcode %}">Show</a></td>
            <td><form action="{% url 'delete_file' file.pk %}" method="post">
                {%  csrf_token %}
                <input type="submit" value="Delete" />
            </form></td>
        </tr>
    {% endfor %}
</table>

</body>
</html>