{% extends 'robox/base_generic.html' %}

{% block title %}Upload{% endblock %}
{% block heading %}Upload:{% endblock %}
{% block links %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "robox/upload.css" %}" />
{% endblock %}
{% block content %}
    <form action="{% url "upload" %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="submit" />
    </form>
    <input type="button" onclick="location.href='{% url "index" %}'" value="back" />
{% endblock %}