{% extends 'robox/base_generic.html' %}

{% block title %}Viewing: {{ barcode }}{% endblock %}
{% block heading %}Viewing: {{ barcode }}{% endblock %}
{% block content %}
    {% if files|length_is:'0' %}
        <h3>No files found.</h3>
    {% else %}
        {% for file in files %}
            <h3>{{ file.upload_time }}</h3>
            <table>
                <tr>
                    {% for heading in file.headings %}
                        <th>{{ heading }}</th>
                    {% endfor %}
                </tr>
                {% for data in file.content %}
                    <tr>
                        {% for dataum in data %}
                            <td>{{ dataum }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        {% endfor %}
    {% endif %}
{% endblock %}