h3 {
    padding-left: 15px;
    font-family: sans-serif;
}
a {
    text-decoration: none;
}
p {
    font-family: sans-serif;
    padding-left: 25px;
}
pre {
    margin-left: 50px;
    line-height: 10px;
}