.file-content td,
.file-content th {
    padding-right: 10px;
}

.file-content tr:nth-child(even) {
    background: whitesmoke;
}
.toggle-content,                                        /* Hide checkbox */
.toggle-content ~ .file-content,                        /* Hide file-content */
.toggle-content + label span + span,                    /* Hide second span (Collapse) */
.toggle-content:checked + label span {                  /* Hide first span (Expand) when checked */
    display: none;
}
.toggle-content:checked + label span + span {           /* Display second span (Collapse) when checked) */
    display: inline-block;
}
[class^="toggle-content"]:checked ~ .file-content {     /* Display table when checked */
    display: block;
}
.file {
    transition: background-color 2s;
}
.recent {
    background-color: lightgreen;
}
.upload {
    padding: 5px 5px 5px 15px;
}

.upload label input {
    display: inline;
}
.warning {
    color: red;
}